.category {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 65px;
  margin-top: 100px;
}

.first {
  background-color: rgb(249, 249, 168);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transition: 300ms ease-in-out;
  cursor: pointer;
}


.category:hover > :not(:hover) {
  opacity: 0.5;
}

.veges {
  margin-left: 45px;
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
}

.fruit {
  height: 50px;
  margin-top: 50px;
  margin-left: 75px;
}

