.ads {
  display: flex;
  flex-direction: row;
}


.smmoties {
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  background-color: rgb(222, 240, 252);
  width: 800px;
  height: 640px;
  border-radius: 20px;
}

.vege {
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 640px;
  border-radius: 20px;
}



.smmoties1 {  
  display: flex;
  flex-direction: row;
  background-image: url('../pic/ok.jpg');
  width: 600px;
  margin-top: 20px;
  height: 280px;
  border-radius: 20px;
}

.smmoties12 {  
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  background-image: url('../pic/cookie.jpg');
  width: 600px;
  height: 280px;
  border-radius: 20px;
}

.details {
  margin-left: 50px;
}


.text1 {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 380px;
}


.text11 {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 380px;
}


.text12 {
  font-size: 35px;
  margin-top: 60px;
  color: rgb(255, 196, 63);
}

.text122 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(11, 98, 11);
}


.text1222 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(201, 126, 28);
}

.text23 {
  font-size: 15px;
  color: rgb(116, 116, 116);
  font-family: "Dancing Script", cursive;
}


.but {
  border: none;
  background-color: rgb(249, 249, 168);
  height: 100px;
  width: 100px;
  border-radius: 50px;
  cursor: pointer;
}


.but1 {
  border: none;
  background-color: rgb(243, 177, 55);
  height: 60px;
  width: 60px;
  border-radius: 30px;
  cursor: pointer;
}

.bag {
  height: 80px;
}

.bag1 {
  height: 45px;
}

.but:hover {
  background-color: rgb(250, 250, 129);
}

.but1:hover {
  background-color: rgb(249, 163, 5);
}